Repository Thanthou/mobiledetailhub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

added npmx vite
  frontend/package.json
Due: prettier --write

React plugin moved to dependencies
  frontend/package.json
Due: prettier --write

Set dependencies buildtime/runtime
  backend/server.js
  backend@1.0.0
  cd
  chatgpt/ALL_part01.txt
  chatgpt/CURSORRULES.md
  chatgpt/DATABASE.md
  chatgpt/SEO.md
  frontend/package.json
  scripts/chatgpt/gitlogs/scorecard-history.csv
Due: prettier --write, eslint --fix

Pascal Case faq/FAQ.tsx
  frontend/src/features/faq/index.ts
Due: prettier --write, eslint --fix

Renamed files for linux/windows conventions
  frontend/eslint.config.js
  frontend/src/features/footer/index.ts
Due: prettier --write, eslint --fix

Monolithic Service
  .nvmrc
  RENDER_ENV_VARS.md
  backend/server.js
  chatgpt/ALL_part01.txt
  chatgpt/CURSORRULES.md
  chatgpt/DATABASE.md
  chatgpt/SEO.md
  frontend/package-lock.json
  render.yaml
Due: prettier --write, eslint --fix

router mismatch
  backend/package.json
  render.yaml
Due: prettier --write

Fix: bcryptjs
  render.yaml
Due: none

Fix: bcryptjs again
  render.yaml
Due: none

fix: render.yaml fix
  render.yaml
Due: none

fix: use Render Blueprint for proper YAML recognition
  render.yaml
Due: none

Fix: route order
  backend/server.js
  render.yaml
Due: prettier --write, eslint --fix

fix: resolve circular dependency causing 'Cannot access T before initialization' error
  frontend/src/shared/hooks/index.ts
  frontend/vite.config.ts
Due: prettier --write, eslint --fix

fix: prevent infinite redirect loop by changing root route to HomePage
  frontend/src/app/App.tsx
Due: prettier --write, eslint --fix

fix: setup proper multi-tenant routing with admin dashboard as homepage
  frontend/src/app/App.tsx
Due: prettier --write, eslint --fix

fix: clean up static file serving configuration
  backend/server.js
Due: prettier --write, eslint --fix

feat: complete authentication system with login flow
  backend/config/auth.js
  backend/create-admin.js
  backend/reset-admin-password.js
  backend/reset-admin.js
  backend/services/authService.js
  backend/test-password.js
  frontend/src/app/App.tsx
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/layout/LoginPage.tsx
  frontend/src/shared/ui/layout/ProtectedRoute.tsx
Due: prettier --write, eslint --fix

fix: production deployment issues
  frontend/index.html
  frontend/public/shared/icons/favicon.svg
  frontend/src/shared/config/api.ts
  frontend/src/shared/contexts/AuthContext.tsx
  frontend/src/shared/contexts/index.ts
  frontend/src/shared/hooks/useAuth.ts
  frontend/src/shared/ui/layout/LoginPage.tsx
  frontend/src/shared/ui/layout/ProtectedRoute.tsx
  scripts/chatgpt/gitlogs/scorecard-history.csv
Due: prettier --write, eslint --fix

fix: add production admin user creation
  backend/create-production-admin.js
  render.yaml
Due: prettier --write, eslint --fix

vite env variable & admin login
  backend/create-production-admin.js
Due: prettier --write, eslint --fix

fix: map main domain to correct tenant slug
  backend/create-main-tenant.js
  frontend/src/shared/utils/domainUtils.ts
Due: prettier --write, eslint --fix

fix: improve favicon loading
  frontend/index.html
  frontend/public/favicon.ico
Due: none

feat: implement proper subdomain architecture
  frontend/src/shared/utils/domainUtils.ts
Due: prettier --write, eslint --fix

feat: implement backend tenant resolver for subdomains
  backend/middleware/tenantResolver.js
  backend/server.js
  chatgpt/ALL_part01.txt
  chatgpt/CURSORRULES.md
  chatgpt/DATABASE.md
  chatgpt/SEO.md
Due: prettier --write, eslint --fix

Fix admin dashboard routing for thatsmartsite-backend.onrender.com
  backend/public/assets/BookingApp-BcdzaPf0.js
  backend/public/assets/BookingApp-BcdzaPf0.js.map
  backend/public/assets/BookingApp-Ckt9zo-R.js.map
  backend/public/assets/RequestQuoteModal-Bl1phYWr.js
  backend/public/assets/RequestQuoteModal-Bl1phYWr.js.map
  backend/public/assets/RequestQuoteModal-Cqty0J4C.js.map
  backend/public/assets/index-6q7zqXVH.js
  backend/public/assets/index-6q7zqXVH.js.map
  backend/public/assets/index-B2fI_mHF.js.map
  backend/public/assets/index-BCB-vXej.js.map
  backend/public/assets/index-BSSqmK5z.js
  backend/public/assets/index-BSSqmK5z.js.map
  backend/public/assets/index-BdFqvIAs.js
  backend/public/assets/index-BdFqvIAs.js.map
  backend/public/assets/index-Bkhn5Lfk.js.map
  backend/public/assets/index-C1Due8dp.js.map
  backend/public/assets/index-CaOAHJIp.js
  backend/public/assets/index-CaOAHJIp.js.map
  backend/public/assets/index-Coue8Rrv.js.map
  backend/public/assets/index-M6HlCW2q.js
  backend/public/assets/index-M6HlCW2q.js.map
  backend/public/assets/index-SnK3MILq.js.map
  backend/public/assets/index-vGwooJGq.js
  backend/public/assets/index-vGwooJGq.js.map
  backend/public/index.html
  frontend/src/app/App.tsx
Due: prettier --write, eslint --fix

Fix hydration mismatch in admin dashboard routing
  backend/public/assets/BookingApp-BcdzaPf0.js.map
  backend/public/assets/BookingApp-vCIuGZzg.js
  backend/public/assets/BookingApp-vCIuGZzg.js.map
  backend/public/assets/RequestQuoteModal-Bl1phYWr.js.map
  backend/public/assets/RequestQuoteModal-Dp9PY4DU.js
  backend/public/assets/RequestQuoteModal-Dp9PY4DU.js.map
  backend/public/assets/index-6q7zqXVH.js.map
  backend/public/assets/index-BSSqmK5z.js.map
  backend/public/assets/index-BdFqvIAs.js.map
  backend/public/assets/index-CRBJDcLP.js
  backend/public/assets/index-CRBJDcLP.js.map
  backend/public/assets/index-CaOAHJIp.js.map
  backend/public/assets/index-Co7RayUv.js
  backend/public/assets/index-Co7RayUv.js.map
  backend/public/assets/index-D59D2CiF.js
  backend/public/assets/index-D59D2CiF.js.map
  backend/public/assets/index-KDICy8u4.js
  backend/public/assets/index-KDICy8u4.js.map
  backend/public/assets/index-M6HlCW2q.js.map
  backend/public/assets/index-jqSxKnA5.js
  backend/public/assets/index-jqSxKnA5.js.map
  backend/public/assets/index-to5g6MKS.js
  backend/public/assets/index-to5g6MKS.js.map
  backend/public/assets/index-vGwooJGq.js.map
  backend/public/index.html
  frontend/src/app/App.tsx
Due: prettier --write, eslint --fix

Fix admin dashboard URLs: use dynamic URL generation based on environment
  backend/public/admin/index.html
  frontend/src/features/adminDashboard/components/tabs/users/UsersTab.tsx
  frontend/src/shared/utils/urlGenerator.ts
Due: prettier --write, eslint --fix

Fix admin app: use AdminProviders to prevent tenant data loading
  backend/public/admin/index.html
  backend/public/tenant/index.html
  chatgpt/ALL_part01.txt
  chatgpt/CURSORRULES.md
  chatgpt/DATABASE.md
  chatgpt/SEO.md
  frontend/src/admin-app/AdminProviders.tsx
  frontend/src/admin-app/main.tsx
  todos/all-dev-prod.md
Due: prettier --write, eslint --fix

Fix static asset serving: serve /assets before wildcard route
  backend/server.js
Due: prettier --write, eslint --fix

Fix multi-entry Vite build: serve assets from correct paths and use relative base
  frontend/vite.config.ts
Due: prettier --write, eslint --fix

yaml attempt
  render.yaml
Due: none

Remove admin123 default password - require ADMIN_PASSWORD env var
  backend/utils/envValidator.js
Due: prettier --write, eslint --fix

Yaml fix again
  render.yaml
Due: none

Fix Render deployment: separate simple health check from database health check
  backend/server.js
Due: prettier --write, eslint --fix

ANother yaml attempt
  chatgpt/ALL_part01.txt
  chatgpt/CURSORRULES.md
  chatgpt/DATABASE.md
  chatgpt/SEO.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss})) or (any of: backend/**/*.js)
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: backend/**/*.js)
